body {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

.topContainer {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin-top: 90px;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #66BFBF;
    line-height: 2rem;
}
.propic{
    height: 200px;
    width: 200px;
    margin: 50px auto 10px auto;
}

h2{
    font-family: 'Montserrat', sans-serrif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: bold;
}
.skill-row{
    width: 50%;
    margin: 50px auto 150px auto;
    text-align: left;
}
h3{
    font-family: 'Montserrat', sans-serrif;
    color: #11999E;
    font-weight: bold;
}

.skill-gif{
    width: 25%;
    float: left;
    padding-right:20px ;
}

.entertainment{
    width: 25%;
    float: right;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

/*
.middleContainer{
    background-color: red;
    height: 200px;
    width: 200px;
}
.bottomContainer{
    background-color: blue;
    height: 200px;
    width: 200px;
}
*/

a{
    color: #11999E;
}